[Desktop Entry]
Exec=Code/dotfiles/scripts/screensnap/screensnap.sh --upload
Icon=display
Type=Application
Name=Screen Snap (Upload)
Comment=Screen Snap
Categories=Utility;
