[Desktop Entry]
Exec=Code/dotfiles/scripts/screensnap/screensnap.sh --copy
Icon=display
Type=Application
Name=Screen Snap (Copy)
Comment=Screen Snap
Categories=Utility;
