[Unit]
Description=Adjust the color temperature of your screen according to
your surroundings
Documentation=https://gitlab.com/chinstrap/gammastep
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gammastep

[Install]
WantedBy=sway-session.target
